/* Print styles
*******************************************************************************/
@media print {
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    .simplemenu, .nav, .pagenavigator, .banner, .aside, .registration-container { display: none !important; }
    .header .logo * { display: block !important; padding: 0; }
    a, a:visited { text-decoration: underline; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    pre, blockquote  { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    .page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}

