/* =Minimal base appearance
*******************************************************************************/

html,
body {
    height: 100%;
    background: #f0f0f0;
}
body {
    font: 14px/1.2 $base-font;
    color: $base-color;
    width: 100%;
}
select, input, textarea {
    color: $base-color;
    font-size: 12px;
    font-family: $base-font;
}
a {
    color: $color-link;
    &:link { -webkit-tap-highlight-color: $color-tap; }
    &:hover { color: $color-hover; }
}
@include placeholder($base-color);

h1,h2,h3,h4,h5,h6 {
	font-family: $brand-font-one;
}

::-moz-selection { color: #fff; background: $color-tap; }
::selection      { color: #fff; background: $color-tap; }

img {
    max-width: 100%;
    height: auto;
}

/* =Footer Bottom
*******************************************************************************/
.wrapper{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    background:white;
}
.header,
.footer {
    display: table-row;
    width: 100%;
    height: 1px;
}
.container{
    display: table-row;
    width: 100%;
    height: 100%;
    box-shadow: inset  0  8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;
    .frame {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

/* =Base Layout
*******************************************************************************/
.frame {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}
.container {
    padding: 25px 10px;
}
.general {
    min-height: 300px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
}
