/* =Footer
****************************************************************************************/
footer {
	padding-top:85px;
	padding-bottom:25px;
	background: white;

	@media #{$tablet} {
		padding-top: 25px;
	}

	.footer-container {
		display: table;
		width:100%;
		max-width: 1200px;
		margin:auto;
		text-align: center;
		color: $darkgrey;

	    .sbe-logo {
		    width:100%;
		    max-width:135px;
		    display: table;
		    margin: 0 auto 15px;

		    img {
			    width: 100%;
		    }
	    }

	    span {
		    font-family: $brand-font-one;
		    font-size:1rem;
		    padding-bottom:15px;
		    display: table;
		    clear: both;
		    margin: auto;

		    @media #{$tablet} {
			    font-size:.85rem;
		    }
	    }

	    p {
		    padding-top:15px;
				display: inline-block;

		    @media #{$tablet} {
				padding:0;
				margin: 0;
				}
	    }

	}

	.divider {
		display: inline-block;
		padding:0 5px;

		@media #{$tablet} {
			clear:both;
			display: block;
			opacity: 0;
			max-height: 5px;
			overflow: hidden;
		}
	}

}
