#service-accordion {
	min-height: 300px;
    background: #ffffff;
    position: relative;
			
	&:before {
		content:'';
		width:100%;
		height:100%;
		max-width:33%;
		top:0;
		display:block;
		background:$brand-color-two;
		color: white;
		position: absolute;
		
			
			@media screen and (max-width:767px) {
				display:none;
			}
		
	}
    
    #sa-container {
		display: table;
	    width: 100%;
	    background: 0;
	    max-width: 1400px;
		height: auto;
		margin: auto;
		
		#sac-quarter {
			width:25%;
			padding-right:3%;
			float: left;
			position: relative;
			color: white;
			
			@media screen and (max-width:767px) {
				width:100%;
				padding-right: 0;
				color:$darkgrey;
			}
		}
		
		#sac-three-quarter {
			width:75%;
			float: left;
			padding-left:5%;
			
			@media screen and (max-width:767px) {
				width:100%;
				padding-left: 0;
			}
		}
		
		.sac-highlight {
			padding:50px 0;
			
			img {
				padding-bottom:25px;
			}
			
			h3 {
				font-size:2rem;
				@media screen and (max-width:767px) {
					color:$brand-color-two;
				}
			}
			
			p {
				margin:10px 0;
				font-size: 1rem;
				line-height: 1.5rem;
			}
		}
		
		.sa-ul-container {
			padding:50px;
			@media screen and (max-width:767px) {
				padding:0 0 25px;
			}
			
			ul.sa-ul {
				display: table;
				width:100%;
				background:#fff;
				
				.sa-li {
					position: relative;
					width: 100%;
					padding: 10px 25px;
					border-top:1px solid #d9d9d9;
					background:transparent;
					display: block;
				    max-height: 65px;
				    overflow: hidden;
				    transition:.25s max-height ease-in-out, .25s background ease-in-out, .35s box-shadow ease-in-out;
					
					.sa--title {
						color:$brand-color-one;
						font-size:16px;
						padding:15px 25px 15px 0;
						position: relative;
						transition:.25s color ease-in-out;
						cursor: pointer;
						
						
						@media screen and (max-width:480px) {
							font-size:14px;					
						}
						
						&:hover {
							color:$brand-color-two;
						}
						
						
					}	
					
					.sa--content {
						padding: 15px 0;
						
						ul {
						  columns: 2;
						  -webkit-columns: 2;
						  -moz-columns: 2;
						  
						  li {
							  font-weight: bold;
							  margin-bottom:10px;
							  padding-left:20px;
							  
							  &:before {
								  content:'';
								  background:$brand-color-two;
								  display: inline-block;
								  width:10px;
								  height:10px;
								  margin-left:-20px;
								  margin-top:2px;
								  position: absolute;
							  }
						  }
						  
						}
						
						p {
							margin:10px 0;
							line-height:1.5rem;
						}	
						
						a {
							color:$brand-color-one;
						}
					}
				}
				
				.expand-sa-item {
					max-height:1000px;
					background:$brand-color-two;
					color: white;
					box-shadow:0 0 10px rgba(0,0,0,0.15);
					-webkit-box-shadow:0 0 10px rgba(0,0,0,0.15);
					-moz-box-shadow:0 0 10px rgba(0,0,0,0.15);
					
					.sa--title {
						color:white;
						
						&:hover {
							color:$brand-color-three;
						}
						
							.pm-toggle {
							    &:after {
							      transform: rotate(0deg);
							      background: white;
							    }
							    &:before {
							      transform: rotate(0deg);
							      background: white;
							    }
							}
					}
					
					.sa--content {
						border-top:1px solid #d9d9d9;
						a {
							color:white;
							background:$brand-color-one!important;
							padding:10px 15px;
							margin-top:10px;
							display: table;
						}
					}
					
				}
			}	
	    
	    }
		
		
	}
}