#homeCarousel {
	.carousel-indicator-container {
		position:absolute;
		bottom:80px;
		width:100%;
		max-width:1400px;
		left:0;
		right:0;
		padding-right:25px;
		margin:auto;

		.carousel-indicators {
			position:relative;
			width:auto;
			display: table;
			float: right;
			margin:0;

			li {
				background:none;
				border: 1px solid white;
				border-radius: 100%;
				margin: 0 5px;
				height: 15px;
				width: 15px;
				bottom: -75px;
				right: 100px;
				display: block;
				float: left;
				transition: .25s box-shadow ease-in-out;
				box-shadow: inset 0 0.01px 0 0.01px white;

				@media #{$tablet} {
					width:15px;
					height:15px;
					bottom: 0;
					right: 0;
					margin:0 7px;
					border:2px solid $darkgrey;
				}
			}

			.active {
				box-shadow: inset 0 100px 0 0px white;

				@media #{$tablet} {
					box-shadow: inset 0px 100px 0px $darkgrey;
				}
			}

			@media #{$tablet} {
				width: auto;
			    display: table;
			    margin: 0 auto;
			    bottom: 0;
			    float: none;
			    width:auto;
			}
		}


		@media #{$desktop} {
			bottom:20px;
		}

		@media #{$tablet} {
			position: relative;
		    display: table;
		    clear: both;
		    top: 0;
		    bottom: 0;
		    margin: 0;
			background:white;
		    padding: 15px 0;
		}

	}


	.carousel-inner {
		max-height: 550px;
		height:550px;

		@media #{$tablet} {
			height:400px;
		}

		.carousel-bg {
			object-fit:cover;
			object-position:center;
			top:0;
			margin-top:-100px;
			width: 100%;
			height: auto;
			min-height: 650px;
		    animation-name: banner-image-move;
		    animation-duration: 3s;

		    @media #{$tablet} {
				animation-name: none;
				animation-duration: 0;
				min-height: 500px;
			}
		}
		.carousel-caption-container {
		    width: 100%;
		    max-width: 1200px;
		    position: absolute;
		    left: 0;
		    right: 0;
		    margin: auto;
		    top: 0;
		    display: block;
		    height: 100%;
		    z-index: 99;
		}

		.carousel-caption {
			text-align: left;
		    width: 100%;
		    top: 0;
		    left: 0;
		    padding:0 50px;
		    background:rgba(0,168,139,0.9);
		    position:absolute;
		    height:100%;
		    width:100%;
		    max-width: 300px;
		    animation-name: green-bar-down;
		    animation-duration: 3s;
		    max-height: 550px;



			h2 {
				font-size:20px;
				margin-top:120px;

				@media #{$tablet} {
					margin-top:25px;
				}
			}

			h3 {
				font-size:14px;
				padding-top:10px;
			}

			p {
				margin-top: 12em;

				@media #{$under-tablet} {
					margin-top: 0;
				}
			}

			a {
				color: white;
				position: absolute;
				font-weight: bold;
				margin-top:0;
				@media #{$tablet} {
					margin-top:0;
					position: relative;
				}
			}

			@media #{$tablet} {
				max-width:100%;
				animation-duration: 0;
				max-height:200px;
				transition:0;
				animation-name: none;
				bottom:0;
				top:auto;
				background:$brand-color-one;
			}
		}
	}
}



.main-banner {
	display: table;
	position: relative;
	width:100%;
	height:auto;
    @media screen and (max-width:767px) {
	    padding-top:0;
	 }

	.mb-container {
		display: table;
		position: relative;
		width: 100%;

		video {
			@media screen and (max-width:480px) {
				display: none;
			}
		}

		.mb-messaging {
			width:100%;
			max-width:1400px;
			margin:auto;
			z-index:91;
			position: absolute;
			top:40%;
			left: 0;
			right:0;
			transform: translate(0,-50%);

			@media screen and (max-width:767px) {
				transform: none;
				top:0;
				padding-bottom:75px;
				position: relative;
			}
			@media screen and (max-width:767px) {
				a {
					width:100%;
					margin:5px auto;
					font-size:1.25rem;
				}
			}




			.mbm-container {
				display: table;
				width:100%;

				@media only screen and (min-width: 767px) {
					max-width:75%;
				}

				@media screen and (max-width:767px) {
					padding-top:50px;
				 }

				h1, h2 {
					font-size:4.5rem;
					@media screen and (max-width:1100px) {
						font-size:2.5rem;
						line-height:2.5rem;
					}
				}

				a {
					@media screen and (max-width:1100px) {
						font-size:1rem;
					}
				}

				p {
					font-size:1.5rem;
					padding:5px 0 50px;
					line-height: 2.25rem;
					@media screen and (max-width:1100px) {
						font-size:1rem;
						line-height: 1.5rem;
						padding:10px 0 25px;

						br {
							display: none;
						}
					}
				}

				color:white;
			}
		}

		img.mb-background {
			width:100%;
			height:100%;
			max-height:550px;
			object-fit:cover;
			object-position:center;


		    @media screen and (max-width:768px) {
				position: absolute;
		    }
		}
	}

	.banner-arrow {
		position:absolute;

	}
}




.cms-banner {
	display: table;
	position: relative;
	width:100%;
	height:auto;
	background:$brand-color-one;

	@media screen and (max-width:767px) {
		padding-top:0;
	 }

	.cb-container {
		display: table;
		position: relative;
		width: 100%;
		overflow: hidden;

		.cb-messaging {
			width:100%;
			max-width:1400px;
			margin:auto;
			z-index:91;
			position: relative;
			padding:50px 25px;

			@media screen and (max-width:768px) {
				position: relative;
				transform: none;
				top:0;

				a {
					width:100%;
					margin:5px auto;
				}
			}

			.cbm-container {
				display: table;
				width:100%;

				#crumbs {
					position:absolute;
					top:15px;

					a {
						color:$brand-color-three;
						font-weight: bold;
					}
				}

				h1, h2 {
					font-size:3rem;
					text-shadow: 1px 1px 10px rgba(0,0,0,0.75);
					@media screen and (max-width:768px) {
						font-size:2.5rem;
					}
				}

				p {
					font-size:1.5rem;
					padding:5px 0 20px;
					line-height: 2.25rem;
					@media screen and (max-width:768px) {
						font-size:1rem;

						br {
							display: none;
						}
					}
				}

				color:white;
			}
		}

		img.cb-background {
			width:100%;
			height:100%;
			max-height:500px;
			object-fit:cover;
			object-position:center;


		    @media screen and (max-width:768px) {
				//position: absolute;
		    }
		}
	}
}



.has-overlay {
	.mb-container, .cb-container {
		&:after {
			content:'';
			width:100%;
			height:100%;
			display: block;
			background: $brand-color-one; /* Old browsers */
			background: -moz-linear-gradient(left, $brand-color-one 0%, $brand-color-two 62%, $brand-color-two 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, $brand-color-one 0%,$brand-color-two 62%,$brand-color-two 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, $brand-color-one 0%,$brand-color-two 62%,$brand-color-two 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-color-one', endColorstr='$brand-color-two',GradientType=1 ); /* IE6-9 */
			position:absolute;
			top:0;
			opacity:.75;
			z-index:9;
		}
	}
		@-webkit-keyframes rotate {
	    from {-webkit-transform: rotate(0deg);}
	    to {-webkit-transform: rotate(360deg);}
	}
	.cb-container {
		/*&:before {
			content:'';
			background-image:url('../../images/banner_careers.jpg');
			background-repeat: no-repeat;
			opacity:.5;
			position: absolute;
			top: 0;
		    right: 50px;
		    width: 500px;
		    height: 500px;
		    display: block;
		    background-size: 100%;
		    -webkit-animation-name: rotate;
		    -webkit-animation-duration: 20s;
		    -webkit-animation-iteration-count: infinite;
		    -webkit-animation-timing-function: linear;
		    -moz-animation-name: rotate;
		    -moz-animation-duration: 20s;
		    -moz-animation-iteration-count: infinite;
		    -moz-animation-timing-function: linear;
		}*/
	}
}
