@charset "UTF-8";
/* Global reset
*******************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Michroma|Open+Sans:400,700");
/* line 3, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
html, body, div, a, span, object, iframe, p, blockquote, pre,
img, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6,
fieldset, form, legend, textarea, button, input, select {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* =HTML5 display definitions
*******************************************************************************/
/* line 16, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, nav, section {
  display: block;
}

/* line 19, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 20, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 21, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
[hidden] {
  display: none;
}

/* line 22, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Tags reset
*******************************************************************************/
/* line 26, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 32, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
}

/* line 35, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
a {
  text-decoration: none;
  background: transparent;
}

/* line 39, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 40, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 41, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 42, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
a:hover, a:active, label:focus, label:active {
  outline: none;
}

/* line 43, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* Normalizing form elements
*******************************************************************************/
/* line 47, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
fieldset {
  border: none;
}

/* line 48, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
textarea, button, input, select {
  font-size: 100%;
  vertical-align: baseline;
}

/* line 49, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
textarea {
  overflow: auto;
  min-height: 30px;
  max-height: 400px;
  resize: vertical;
}

/* line 50, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  vertical-align: middle;
}

/* line 52, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 56, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* line 57, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 59, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 61, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Normalizing Tags
*******************************************************************************/
/* line 66, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
small {
  font-size: 85%;
}

/* line 67, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
strong, th {
  font-weight: bold;
}

/* line 68, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
td, td img {
  vertical-align: top;
}

/* line 69, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 70, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
sup {
  top: -0.5em;
}

/* line 71, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 72, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/base/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

/* Variables */
/* Mixins */
/* =Useful classes
*******************************************************************************/
/* line 4, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/mixins/_use_classes.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 5, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/mixins/_use_classes.scss */
.clearfix:after {
  clear: both;
}

@keyframes green-bar-down {
  from {
    max-height: 0;
    opacity: .25;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}

@-webkit-keyframes green-bar-down {
  from {
    max-height: 0;
    opacity: .25;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}

@-moz-keyframes green-bar-down {
  from {
    max-height: 0;
    opacity: .25;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}

@keyframes banner-image-move {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -100px;
  }
}

@-webkit-keyframes banner-image-move {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -100px;
  }
}

@-moz-keyframes banner-image-move {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -100px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  /* line 36, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/mixins/_use_classes.scss */
  from {
    opacity: 0;
  }
  /* line 37, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/mixins/_use_classes.scss */
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 75, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/mixins/_use_classes.scss */
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/* line 7, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/editor-style.scss */
html {
  padding: 15px;
}

/* line 2, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content h1, .content h2, .content h3, .content h4, .content h5 {
  margin: 0 0 15px;
  font-weight: bold;
}

/* line 3, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content h1 {
  font-size: 22px;
}

/* line 4, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content h2 {
  font-size: 18px;
}

/* line 5, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content h3 {
  font-size: 16px;
}

/* line 6, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content h4 {
  font-size: 14px;
}

/* line 7, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content h5 {
  font-size: 12px;
}

/* line 8, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content h6 {
  font-size: 10px;
}

/* line 9, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content p, .content ul, .content ol {
  margin-bottom: 15px;
}

/* line 10, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content ul {
  margin-left: 25px;
  list-style: disc;
}

/* line 11, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content ol {
  margin-left: 25px;
  list-style: decimal;
}

/* line 12, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content ul ul,
.content ol ol {
  margin-top: 10px;
}

/* line 14, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content li {
  margin-bottom: 10px;
}

/* line 15, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content dl {
  margin: 0 0 15px;
}

/* line 16, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content dt {
  font-weight: bold;
}

/* line 17, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content dd {
  margin: 0 0 10px 15px;
}

/* line 18, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content table {
  margin-bottom: 15px;
}

/* line 19, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content td, .content th {
  border: 1px solid #ccc;
  padding: 5px;
}

/* line 23, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content blockquote {
  border-left: 5px solid #aaa;
  margin: 0 0 18px;
  padding: 0 0 0 15px;
}

/* line 27, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content blockquote p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22.5px;
}

/* line 32, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content blockquote small {
  color: #999;
  display: block;
  line-height: 18px;
}

/* line 36, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content blockquote small:before {
  content: "— ";
}

/* line 40, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content blockquote *:last-child {
  margin-bottom: 0;
}

/* line 44, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content img {
  padding: 7px;
  background: #fff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

/* line 48, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content img[style*=left] {
  margin: 0 25px 10px 0;
}

/* line 51, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.content img[style*=right] {
  margin: 0 0 10px 25px;
}

/* line 57, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

/* line 58, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

/* line 59, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.alignnone {
  display: block;
  margin: 0 0 20px;
}

/* line 61, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.table-a {
  border: 1px solid #ddd;
}

/* line 63, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.table-a th, .table-a td {
  line-height: 18px;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

/* line 71, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.table-a tbody tr:nth-child(2n+1) td,
.table-a tbody tr:nth-child(2n+1) th {
  background-color: #F9F9F9;
}

/* line 76, /Users/james/Documents/Sites/LiveSiteRepos/MCK/wp-content/themes/mck/mck-theme/sass/_cms_content.scss */
.table-a tbody tr:hover td, .table-a tbody tr:hover th {
  background-color: #F5F5F5;
}

/*# sourceMappingURL=../css/editor-style.map */