.client-list {
	&__row {
		display: table;
		width:100%;
		clear: both;
		transition: .25s all ease-in-out;

		@media #{$tablet} {
			display: block;
		}

		&.expand-cl {
			max-height:2500px;

			.title-arrow {
				transform: rotate(0deg);
			}
		}
	}


	&__title {
		display: table;
		position: relative;
		color: white;
		background:$brand-color-one;
		width:100%;
		padding:25px 0;
		margin:0 0 50px;
		text-align: center;
		font-size:1.5rem;
		font-family:$brand-font-one;
			transition: .25s all ease-in-out;

		@media #{$tablet} {
			margin:0 0 25px;
			font-size:1rem;
			cursor: pointer;

			&:hover {
				background:$brand-color-two;
			}

		}

	}

	&__col-two {
		width:50%;
		float: left;

		@media #{$tablet} {
			width:100%;
		}

		ul {
			list-style: none;

			li {
				padding:0;
				margin-bottom:10px;
				&:before {
					display: none;
				}
			}
		}
	}

	&__subtitle {
		padding-bottom:10px;
		font-family:$brand-font-one;
		font-size:1rem;
		display: table;
		margin-bottom:5px;
		color: $brand-color-one;
	}
}

.client-list-mobile-fix {
	@media #{$tablet} {
		margin-top: -3em;
	}
}
