.contact-caption {
  color: white;
  padding-top: 10em;
  padding-left: 2em;
  position: absolute;
  left: 15%;
  top: 0;
  z-index: 10;
  width: 400px;
  height: 100%;
  background-color: rgba(0,168,139,0.8);
  font-family: "Michroma", serif;

  h3 {
    font-size: 1.2em!important;
    margin-bottom: 2em;
  }
  p {
    font-family: "Michroma", serif;
    margin-bottom: .5em;
  }
  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }

  @media #{$bootstrap-device} {
		background-color: $brand-color-one;
    position:static;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0 auto;
    width: 350px;

    h2 {
      font-size: 1.4em;
      margin-bottom: .8em;
    }
	}

}
