#ib-container {
	padding-top:100px;
	padding-bottom:100px;
	background:white;
	text-align: center;

	@media #{$desktop} {
		padding-top:50px;
		padding-bottom:50px;
	}

	@media #{$mobile} {
		padding-top:25px;
		padding-bottom:50px;
	}

	h1 {
		color:$brand-color-one;
		margin-bottom:10px;
		font-size: 2rem;

		@media #{$under-tablet} {
			font-size: 1.5rem;
		}
	}

	p {
		width:100%;
		margin:auto;
		line-height: 1.5rem;

		@media #{$under-tablet} {
			font-size: 1rem;
		}
	}
}

#scroll-up {
	width:100%;
	padding:50px 0;
	max-width:1200px;
	margin:auto;

	img {
		float: right;
	}
}


.teaser-block {
	&__container {
	}

	&__row {
		width:100%;
		max-width: 1400px;
		margin: auto;
		display: table;
	}

	&__block {
		width:50%;
		float: left;
		height:530px;
		position: relative;
		background-size: cover;
		background:url('../images/550.jpg');
		cursor: pointer;
		overflow: hidden;

		@media #{$tablet} {
			height:250px;
			background-size: 100% 100%!important;

			&:hover .tbb-label{
				background-color: $brand-color-one;
			}
		}

		@media #{$mobile} {
			height:175px;
		}


		.tbb-label {
			position:absolute;
			bottom:0;
			left:0;
			height: 100%;
			width:100%;
			background: linear-gradient( 225deg, transparent 65%, rgba(0,168,139,0.9) 65%);
			transition:.75s all ease-in-out;
			transform: scale(1);

			@media #{$tablet} {
				width:800%;
				background: linear-gradient( 225deg, transparent 65%, rgba(0,168,139,0.7) 65%);
			}
		}


		span {
				position:absolute;
				bottom:0;
				width:auto;
				height:auto;
				left:0;
				padding-left:50px;
				padding-bottom:50px;
				color: white;
				font-size:25px;
				font-family: $brand-font-one;
				transition:.75s all ease-in-out;

				@media #{$tablet} {
					bottom:40%;
					left:50%;
					padding-left:0px;
					transform: translate(-50%,50%);
					font-size: 1rem;
					text-align: center;
				}
			}

		&:hover {
			.tbb-label {
				width:800%;
			}

			span {
				bottom:50%;
				left:50%;
				padding-left:0px;
				transform: translate(-50%,50%);
			}
		}

	}
}
