.project-loop {

	&__section {
		display: table;
		clear: both;
		border-bottom:1px solid $brand-color-one;
		padding:40px 0 25px;

		&:last-child {
			border: 0;
			padding-bottom:0;
		}

		.property-shot {
			display: table;
			float: left;
		}

		.property-title {
			color: $brand-color-one;
			display: table;
			margin:0 auto;
			font-weight: bold;
			padding:15px 0;
		}

		.four-col {
			float: left;
			width: 25%;


			&:nth-child(even) {
				padding-right:25px;

				@media #{$under-tablet} {
					padding:0;
				}
			}

			&:nth-child(odd) {
				padding-left:25px;

				@media #{$under-tablet} {
					padding:0;
				}
			}

			@media #{$under-tablet} {
				width:100%;
				margin-bottom:25px;
			}
		}

		h2 {
			color: $brand-color-one;
			font-size:1.5rem;

			@media #{$under-tablet} {
				font-size:1.5rem;
			}
		}

		strong {
			display: inline;
			float: left;
			line-height: 1.5rem;
		}

		p {
			line-height: 1.5rem;
			text-align: center;

			@media #{$under-tablet} {
				text-align: left;
			}
		}

		.note {
			text-align: center;
		}

		a {
			display: table;
			margin: 0 auto;
			text-decoration: underline;
		}
	}
}
