#cms-main {
	background:white;
}

.cms-main-alt {
	background:$brand-color-one!important;
}

.main-headline {
	padding-bottom:50px;

	@media #{$under-tablet} {
		padding-bottom:25px;
	}


}

.contact-map {
	width:100%;
	min-height:500px;

	@media #{$under-tablet} {
		min-height: 350px;
	}
}

.directions-link {
	background: white;
	text-align: center;
	padding-top:50px;

}


.wpcf7 .brand-button {
	margin:15px 0;
    border-radius: 0;
    padding: 5px 30px;
    font-size: 15px;
    float: right;
    font-weight: bold;

}

.reset-button {
	background-color: $base-color;
	border-color: $base-color;
	position: relative;
	left: 10em;

	&:active, &:visited, &:hover, &:link {
		background-color: $base-color;
		border-color: $base-color;
	}

	@media #{$under-tablet} {
		margin-top: 30px!important;
		position: static;
	}
}


.cms-content-container {
	width: 100%;
    max-width: 1200px;
    margin: auto;
    padding:50px 25px;


    &.ccc-background {
		padding:90px 150px;
		width: 100%;
		max-width: 1200px;
		background: white;
		margin:80px auto;

		 @media #{$tablet} {
		    padding:25px;
		    width:90%;
	    }
    }

    .single-date {
	    color: $brand-color-one;
	    font-size: 1rem;
	    font-family: $brand-font-one;
	    margin-bottom: 45px;
	    display: table;
    }

    .single-content {
		line-height: 1.5rem;
    }

    .featured-img {
	    margin:40px auto;
    }

    h1 {
	    color: $brand-color-one;
	    display: table;
	    margin: auto;
	    font-size: 1.5rem;

	    @media #{$tablet} {
		    margin-top:0;
	    }
    }

    h2 {
		font-size:2rem;
		padding:0 0 25px;
		margin:0;
	}

	h3 {
		font-size: 1rem;
		padding:0 0 15px;
		margin:0;
		color:$brand-color-one;
	}

	h4 {
		font-size: 1rem;
		padding:0 0 10px;
		margin:0;
		color:$brand-color-one;
	}

	.single-column {
		display: table;
		padding:0 0 25px;
	}

	.double-column {
		display: table;
		padding:0 0 25px;
	}

	ul {
		list-style: none;
		padding:0 0 25px;

		li {
			&:before {
				content:'-';
				padding-right:5px;
			}
			margin-bottom:5px;
		}
	}

	p {
		line-height: 1.5rem;
	}

	.dc-col {
		width:46%;
		margin:0 2%;
		float: left;
		&:first-child {
			margin-left:0;
			@media screen and (max-width:767px) {
				margin-bottom:25px;
			}
		}

		&:last-child {
			margin-right:0;
		}

		@media screen and (max-width:767px) {
			width:100%;
			margin:0;
		}
	}

	.flex-carousel {
		margin:0 auto 25px;
		transition:.25s all ease-in-out;

		.carousel-disclaimer {
			position:absolute;
			top:0;
			right:0;
			background:rgba(0,0,0,0.5);
			padding:10px 15px;
			color:white;
			opacity:1;
			transition:.25s all ease-in-out;

			@media screen and (max-width:480px) {
				opacity:0;
			}
		}

		img {
			width:100%;
			object-fit:cover;
			object-position:center;
			max-height:350px;
			transition:.25s all ease-in-out;
		}



		.carousel-indicators {

			li {
				transition:.25s all ease-in-out;
				background:$brand-color-two;

				&.active {
					background:white;
				}

				@media screen and (max-width:480px){
					width:25px;
					height:25px;
					border-radius: 25px;
					margin:0 10px;
					box-shadow: 0 0 10px rgba(0,0,0,0.75);
				}
			}



			@media screen and (max-width:480px) {
				position:relative;
			    bottom: 0;
			    padding: 25px 0;
			}

		}

		&:hover{
			img {
				max-height:600px;
			}

			.carousel-indicators {

				li {
					width:25px;
					height:25px;
					border-radius: 25px;
					margin:0 10px;
					box-shadow: 0 0 10px rgba(0,0,0,0.5);
				}
			}

			.carousel-disclaimer {
				opacity:0;
			}

		}

	}

	.cms-cc-img {
		width:100%;
		margin:0 auto 25px;
	}

	#service-accordion {
		#sa-container {
			padding:0!important;

			.sa-ul-container {
				padding:50px 0;
			}

		}
	}

	.accordion:before {
		display: none!important;
	}

}
