.team-loop {

	&__section {
		display: table;
		clear: both;
		border-bottom:1px solid $brand-color-one;
		padding:40px 0 25px;

		@media #{$tablet} {
			padding:0;
			margin-bottom:25px;
		}

		&:last-child {
			border: 0;
			padding-bottom:0;
		}

		.headshot {
			display: inline;
			float: left;
			width:50%;
			max-width:150px;
			margin-right:15px;

			@media #{$tablet} {
				display: table;
				float: none;
				width:100%;
				margin:0 auto 25px;
			}
		}

		.two-col {
			float: left;
			width: 50%;

			&:nth-child(even) {
				padding-right:25px;

				@media #{$tablet} {
					padding:0;
					margin-bottom:25px;
				}
			}

			&:nth-child(odd) {
				padding-left:25px;

				@media #{$tablet} {
					padding:0;
				}
			}

			@media #{$tablet} {
				width:100%;

			}
		}

		h2 {
			color: $brand-color-one;
			font-size:1.5rem;

			@media #{$tablet} {
				font-size:1.5rem;
				text-align: center;
			}

		}

		strong {
			display: inline;
			float: left;
			line-height: 1.5rem;
		}

		p {
			line-height: 1.5rem;
		}

		.note {
			text-align: center;

		}
	}

	#management-loop {

		@media #{$tablet} {
			display: block;
			max-height:60px;
			overflow: hidden;
			transition:.25s all ease-in-out;

			h2 {
				background:$brand-color-one;
				color: white;
			    padding: 15px 0;
			    cursor: pointer;
			    margin-bottom:15px;
			    transition:.25s all ease-in-out;
			    &:hover {
				    background:$brand-color-two;
			    }
			}

			&.expand-ml {
				max-height:2500px;

				.title-arrow {
					transform: rotate(0deg);
				}

			}

		}

	}
}

.single-column {
	text-align: center;
}
