$highdensity: "only screen and (-webkit-min-device-pixel-ratio: 1.5)",
"only screen and (min--moz-device-pixel-ratio: 1.5)",
"only screen and (-o-min-device-pixel-ratio: 3/2)",
"only screen and (min-device-pixel-ratio: 1.5)";

$mobile:      "only screen and (max-width: 480px)";
$nomobile:    "only screen and (min-width: 481px)";

$under-tablet: "only screen and (max-width: 767px)";
$tablet:      "only screen and (max-width: 768px)";
$notablet:	  "only screen and (min-width: 769px)";
$tablet-only: "only screen and (min-width:481px) and (max-width:768px)";

$bootstrap-device: "only screen and (max-width: 991px)";

$desktop:     "only screen and (max-width: 1023px)";
$desktop-only: "only screen and (min-width:769px) and (max-width:1023px)";
$desktop-plus:	  "only screen and (min-width: 1024px)";


$ipad-portrait:		"only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)";
$ie11:			"screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none)";