/* =Useful classes
*******************************************************************************/
.clearfix {
    &:before, &:after{ content:""; display:table; }
    &:after{ clear: both; }
}

@keyframes green-bar-down { from {max-height: 0; opacity:.25;} to {max-height: 1000px; opacity:1;}}
@-webkit-keyframes green-bar-down { from {max-height: 0; opacity:.25;} to {max-height: 1000px; opacity:1;}}
@-moz-keyframes green-bar-down { from {max-height: 0; opacity:.25;} to {max-height: 1000px; opacity:1;}}

@keyframes banner-image-move { from {margin-top:0} to {margin-top:-100px;}}
@-webkit-keyframes banner-image-move { from {margin-top:0} to {margin-top:-100px;}}
@-moz-keyframes banner-image-move { from {margin-top:0} to {margin-top:-100px;}}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}