/* Variables */
@import url('https://fonts.googleapis.com/css?family=Michroma|Open+Sans:400,700');

$base-font: 'Open Sans', sans-serif;
$brand-font-one: 'Michroma', serif;
$brand-font-two: 'Open Sans', sans-serif;;
$base-color: #636466;
$color-link: #007b75;
$color-hover: #00a88b;
$color-tap: #00a88b;


$brand-color-one: #007b75;
$brand-color-two: #00a88b;
$brand-color-three: #97cbbd;

$grey: #a6a8aa;
$darkgrey: #636466;
$offwhite: #f0f0f0;


/* Mixins */

@mixin placeholder($ph-color){
    &::-webkit-input-placeholder { color: $ph-color; }
    &::-moz-placeholder { color: $ph-color; opacity: 1; }
    &:-ms-input-placeholder { color: $ph-color; }
}
@mixin sprite-item($bgp: 0 0, $sprite-width: 20px, $sprite-height: 20px){
    background-position: $bgp;
    width: $sprite-width;
    height: $sprite-height;
    display: inline-block;
}
@mixin fontface($fontname, $fontfile){
    font-family: '${fontname}';
    src: url('../fonts/${fontfile}-webfont.eot');
    src: url('../fonts/${fontfile}-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/${fontfile}-webfont.woff') format('woff'),
    url('../fonts/${fontfile}-webfont.ttf') format('truetype'),
    url('../fonts/${fontfile}-webfont.svg#${fontname}') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin font-awesome($content){
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: $content;
}