/* =COMMENTS
****************************************************************************************/
.comments-area{
    padding: 30px 0;
}
.comments-title,
.comment-reply-title{
    margin: 0 0 10px;
    font-size: 20px;
}

.comment-list{
    margin-bottom: 30px;
    .comment-body{
        border: solid 1px #ccc;
        background: #fff;
        padding: 10px;
        margin-bottom: 10px;
    }
    .children{
        margin-left: 40px;
    }
    .comment-meta{
        padding: 0 0 10px;
    }
    .avatar{
        float: left;
        margin: 0 10px 0 0;
    }
}

.comment-respond{
    max-width: 500px;
    padding: 20px 0 0;
    .logged-in-as{
        margin-bottom: 15px;
    }
    .comment-form-comment{
        margin-bottom: 15px;
    }
}
