.form-control {
	border-radius: 0!important;
	border-color: $darkgrey;
	padding:.25rem .75rem;
}

span.wpcf7-list-item {
	clear: both;
    display: table;
    margin: 0 10px 0 0;
    padding: 10px 0;
}