/* =POST
****************************************************************************************/

.news-post {
	display: table;
	margin-bottom:25px;
	width:100%;
	margin:0 auto 25px;
	
	p {
		margin:0;
	}
}

.news-link {
	display: table;
    margin: 0;
    text-decoration: underline;
    clear: both;
}

.entry-thumbnail{
    margin-bottom: 20px;
}

.entry-title{
    margin-bottom: 20px;
}

.entry-meta{
    margin-bottom: 20px;
    a{
        margin-right: 10px;
    }
}