
.cms-main-alt {
	background:$brand-color-one;
	position: relative;
	
	.cms-main-background {
		position:absolute;
		opacity:.25;
		top:0;
		z-index: 0;
		object-fit:cover;
		object-position:top center;
		width:100%;
		height:100%;
	}
}


.cms-content-container {
	position: relative;
}

.single-project-info {
	//padding:90px 150px;
	padding:0;
	width: 100%;
	max-width: 1200px;
	background: white;
	margin:auto;
	
	&__h1 {
		display: table;
		margin: auto;
		padding-bottom:25px;
		width: auto;
		font-size:2rem;
		color:$brand-color-one;	
		
		
		@media #{$tablet} {
			padding-bottom:20px;
		}
	}
	
	&__span {
		display: table;
		margin: auto;
		width: auto;
		font-family: $brand-font-one;
		font-size:1.5rem;
		padding-bottom: 50px;
		color: $brand-color-one;
		
		
		@media #{$tablet} {
			font-size: 1rem;
			padding-bottom:20px;
		}
	}
	
	&__p {
		display: table;
		margin: auto;
		width: auto;
		padding-bottom:80px;
		text-align: center;
		
		@media #{$tablet} {
			padding-bottom:20px;
		}
	}
}

#projectCarousel {
	width: 100%;
	margin: auto;
	
	.carousel-indicator-container, .carousel-indicator-container-thumbs {
		position:relative;
		bottom:0;
		width:100%;
		max-width:1400px;
		margin:25px auto;
		background: white;
		height:auto;
	}
	
	.carousel-indicator-container {
		
		.carousel-indicators {
			position: relative;
			top:0;
			bottom:0;
			width: auto;
			margin:0;
			
			li {
				width:15px;
				height:15px;
				display: block;
				max-height: auto;
				border-radius: 30px;
				margin:0 8px;
				transition: .25s box-shadow ease-in-out;
				background: $brand-color-one;
				box-shadow: inset 0 0.01px 0 0.01px $brand-color-two;
				
				&.active {
					box-shadow: inset 0 100px 0 0px $brand-color-two;
				}
			}
		}
	}
	
	
	.carousel-indicator-container-thumbs {
		
		.carousel-indicators {
			position: relative;
			top:0;
			bottom:0;
			width: 100%;
			margin:0;
			
			li {
				width:33%;
				height:auto;
				display: block;
				max-height: auto;
				opacity:.6;
				transition:.25s all ease-in-out;
				
				&:hover {
					opacity:.8;
				}
				
				&.active {
					opacity:1;
				}
			}
		}
	}
}